@mixin link($color, $hover, $active) {
    color: $color;
        text-decoration: underline;

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}

.link {
    @include link(blue, purple, red);
}